.reject_ticket {
  font-size: medium;
  font-weight: 300;
  color: white;
  background-color: red;
}
.active_ticket {
  font-size: medium;
  font-weight: 300;
  color: white;
  background-color: green;
}
.disable_button{
  pointer-events: none;
  opacity: 0.5;
}