<div class="h-[100vh] items-center justify-center gap-6 scrollbar-hide overflow-y-auto">
  <h2>{{ count$ | async }}</h2>

  <button (click)="inc()">+</button>
  <button (click)="dec()">-</button>
  <button (click)="reset()">Reset</button>
  <input [(ngModel)]="userData()[0].name" />
  <h1>{{ userData()[0].name }}</h1>
  <form
    [formGroup]="reactForm"
    class="flex flex-col bg-red-50 p-4 gap-2"
    (ngSubmit)="reactFormSubmit()"
  >
    <h1 class="header">Reactive Form</h1>
    <input
      placeholder="Username"
      formControlName="email"
      class="input"
      type="email"
      [class.border-red-500]="reactForm.get('email')?.touched && reactForm.get('email')?.invalid"
    />
    <app-app-input label="Email Address" placeholder="Enter your email" formControlName="email">
    </app-app-input>
    <div>
      @if (reactForm.get('email')?.touched) {
        @if (reactForm.get('email')?.errors?.['required']) {
          <small class="text-red-400 text-xs animate-in fade-in slide-in-from-top-1"
            >Email is required.</small
          >
        } @else if (reactForm.get('email')?.errors?.['email']) {
          <small class="text-red-400 text-xs animate-in fade-in slide-in-from-top-1"
            >Invalid email format.</small
          >
        }
      }
    </div>
    <input placeholder="Password" formControlName="password" class="input" type="password" />
    <div>
      @if (reactForm.get('password')?.touched) {
        @if (reactForm.get('password')?.errors?.['required']) {
          <small class="text-red-400 text-xs animate-in fade-in slide-in-from-top-1"
            >Password is required.</small
          >
        } @else if (reactForm.get('password')?.errors?.['minlength']) {
          <small class="text-red-400 text-xs animate-in fade-in slide-in-from-top-1"
            >Minimum 6 characters required.</small
          >
        }
      }
    </div>
    <button type="submit" class="button">React Form Submit</button>
  </form>
  <form
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm)"
    class="flex flex-col bg-red-50 p-4 gap-2"
  >
    <h1 class="header">Template Form</h1>

    <input
      type="email"
      name="email"
      #emailVar="ngModel"
      ngModel
      required
      email
      class="input"
      placeholder="Enter Email"
    />

    <div>
      @if (emailVar.touched && emailVar.invalid) {
        @if (emailVar.errors?.['required']) {
          <small class="text-red-400 text-xs">Email is required.</small>
        } @else if (emailVar.errors?.['email']) {
          <small class="text-red-400 text-xs">Invalid email format.</small>
        }
      }
    </div>

    <input
      type="password"
      name="password"
      #passVar="ngModel"
      ngModel
      required
      minlength="6"
      class="input"
      placeholder="Enter Password"
    />

    <div>
      @if (passVar.touched && passVar.invalid) {
        @if (passVar.errors?.['required']) {
          <small class="text-red-400 text-xs">Password is required.</small>
        } @else if (passVar.errors?.['minlength']) {
          <small class="text-red-400 text-xs">Minimum 6 characters required.</small>
        }
      }
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="button">Login</button>
  </form>
  <h1>{{ count() }}</h1>
  <button class="button" (click)="stopTimer()">Stop</button>
  <button class="button" (click)="startTimer()">Start</button>
  <input value="Arjua" #firstInput />

  <button (click)="generate(firstInput.value)">click</button>
  <!-- <h1>{{ userData() | json }}</h1> -->
  <h1>{{ today | date: 'MM-dd-yyyy' }}</h1>
  @for (user of userData(); track $index) {
    <div class="flex gap-2">
      <h1>{{ user.name }}</h1>
      <input
        type="checkbox"
        name="userSelect"
        [(ngModel)]="user.isSelected"
        (ngModelChange)="handleCheckboxChange(user)"
      />
    </div>
  }
  <button (click)="handleSubmit()" class="button">Remove</button>
  <!-- toggle the "special" class on/off with a property -->
  <div [ngClass]="isSpecial ? 'special' : ''">This div is special</div>
  @if (hero) {
    <p>
      I turned the corner
      <ng-container> and saw {{ hero.name }}. I waved </ng-container>
      and continued on my way.
    </p>
  }
  <p>
    I turned the corner
    <ng-container *ngIf="hero"> and saw {{ hero.name }}. I waved </ng-container>
    and continued on my way.
  </p>

  <h1 style="background-color: red; padding: 10px">{{ temperature() | json }}</h1>
</div>
